{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="page-body">
    <div class="container-fluid">
        <div class="user-profile">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card hovercard text-center overflow-hidden">
                        <div class="cardheader">
                            {% if user.card_header %}
                                <img alt="Card Header" src="{{ user.card_header.url }}" class="card-header-img">
                            {% else %}
                                <img alt="Default Card Header" src="{% static 'assets/images/other-images/bg-profile.png' %}" class="card-header-img">
                            {% endif %}
                        </div>
                        <div class="user-image">
                            <div class="avatar">
                                {% if user.profile_picture %}
                                    <img alt="Profile Picture" src="{{ user.profile_picture.url }}" class="profile-pic-img">
                                {% else %}
                                    <img alt="Default Profile Picture" src="{% static 'assets/images/user/7.jpg' %}" class="profile-pic-img">
                                {% endif %}
                            </div>
                            <a href="{% url 'edit_profile' %}" class="icon-wrapper">
                                <i class="icofont icofont-pencil-alt-5"></i>
                            </a>
                        </div>
                        <div class="info">
                            <div class="row">
                                <div class="col-sm-6 col-lg-4">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="ttl-info text-start">
                                                <h6><i class="fa fa-envelope"></i> Email</h6>
                                                <span>{{ user.email }}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="ttl-info text-start">
                                                <h6><i class="fa fa-calendar"></i> Username</h6>
                                                <span>{{ user.username }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-4">
                                    <div class="user-designation">
                                        <div class="title"><a href="">{{ user.get_full_name }}</a></div>
                                        <div class="desc">{{ user.role }}</div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="ttl-info text-start">
                                                <h6><i class="fa fa-phone"></i> Contact Us</h6>
                                                <span>{{ user.phone }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <!-- Add additional user info as needed -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
/* Card Header Image Styling */
.card-header-img {
    width: 100%;
    height: 470px; /* Set the fixed height */
    object-fit: cover; /* Ensure the image covers the area and maintains aspect ratio */
}

/* Profile Picture Styling */
.profile-pic-img {
    width: 300px; /* Set the fixed width */
    height: 300px; /* Set the fixed height */
    border-radius: 50%; /* Make it circular */
    object-fit: cover; /* Ensure the image covers the area and maintains aspect ratio */
}

/* Ensure that the profile picture is centered and properly aligned */
.user-image .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>

{% endblock %}
