{% extends 'base.html' %}

{% load static %}
{% load sass_tags %}

{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/datatables.scss' %}">
<!-- Plugins css Ends-->
{% endblock %}

{% block content %}

<div class="page-body">
      <div class="container-fluid">
          
            <div class="row">

                  <!-- Role List  -->
                  <div class="col-sm-12">
                        <div class="card">
                        <div class="card-header pb-0 card-no-border">
                        <h3>role List</h3>
                        <span>This table lists all registered Role with options to edit or delete them.</span>
                        </div>
                        <div class="card-body">
                        <div class="table-responsive">
                              <table class="display" id="basic-1">
                              <thead>
                              <tr>
                                    <th>Name</th>
                                    <th>Actions</th>
                              
                              </tr>
                              </thead>
                              <tbody>
                              {% for role in roles %}
                              <tr>
                                    <td>{{ role.name }}</td>
                              
                              
                                    <td>
                                    <ul class="action">
                                    <li class="edit">
                                          <a href="{% url 'role_update' user.id %}"><i class="icon-pencil-alt"></i></a>
                                    </li>
                                    <li class="delete">
                                          <a href="{% url 'role_delete' user.id %}"><i class="icon-trash"></i></a>
                                    </li>
                                    </ul>
                                    </td>
                              </tr>
                              {% endfor %}
                              </tbody>
                              </table>
                        </div>
                        </div>
                        </div>
                  </div>
    
              

            </div>
      </div>
</div>

{% endblock %}

{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/datatable/datatables/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'assets/js/datatable/datatables/datatable.custom.js'%}"></script>
<script src="{% static 'assets/js/tooltip-init.js'%}"></script>
<!-- Plugins JS Ends-->
{% endblock %}